.regiao_sumario {
    min-width: 50px;

    &:hover .sumario_flutuante {
        display: flex;
    }
}

.sumario_flutuante {
    flex-direction: column;
    justify-content: left;
    padding: 10px;
    background-color: gray;
    border-radius: 0 8px 8px 0;

    display: none;

    a {
        text-wrap: nowrap;
    }
}
